

.btn {
  width: 115px;
  height: 27px;
  background: #000000;
  color: #fff;
  text-transform: uppercase;
  padding: 5px 9px 7px;
  font-weight: 400;
  font-size: 11px;
  text-align: center;
  cursor: pointer;
  transition:all .5s ease;
  &:hover{
    @include hov;
  }
}

@media (max-width: 1200px){
  .btn{
    font-size: 15px;
    width: 175px;
    height: 40px;
  }
}