.header {
    text-align: center;
    display: block;
    position: relative;
    color:#fff;
    background: url(../../img/uber_bg.jpg) center center/cover no-repeat;
    min-height: 850px;
    

    &__menu {
        padding: 0 450px;
        font-weight: 300;
        font-size: 15px;
        position: relative;
        height: 51px;
        padding-top: 16px;
        background: #2e2c2c;
        &_list {
            position: relative;
            display: flex;
            justify-content: space-between;

            &-item{
                transition: all .5s ease;
                &:not(:first-child)::before{
                    content: '';
                    width: 2px;
                    height: 31px;
                    border-left: 1px dashed #000;
                    padding-right: 30px;
    
                }
                a{
                    color: #fff;
                    text-decoration: none;
                    &:hover{
                        color:#4CE2FF;
                    }
                }
            }

        }
    
    }


    &__logo {
        mix-blend-mode: normal;
        height: 84px;
        padding: 0 486px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: rgba(0, 0, 0, 0.6);
    }

    &__logo_section {
        font-weight: 100;
        &-callback {
            width: 302px;
            display: flex;
            justify-content:space-between;
            align-items:center;
        }
        &-describe{
            margin-top: 6px;
            opacity: .6;
        }
        a{
            display: block;
            min-width: 100%;
        }
    }

    &__logo {
        position: relative;
        
        &_section-callback {
            width: 387px;
        }

        &_section-info {
            width: 205px;
        }

        &_seciton-par {
            font-size: 12px;
            margin: 0 0 2px 16px;
        }

        &_seciton-num {
            display: block;
            color: #fff;
            text-decoration: none;
            font-weight: 400;
            font-size: 22px;
            text-transform: uppercase;
            line-height: 28px;
        }
    }

    &__logo-btn {
        font-weight: 400;
        font-size: 14px;
        text-transform: uppercase;
        width: 150px;
        height: 46px;
        color: #FFFFFF;
        background: linear-gradient(0deg, #1EACC7 0%, #4CE2FF 100%);
        box-shadow: inset 0px -3px 0px rgba(0, 0, 0, 0.12);
        margin-left: 37px;
        border-radius: 4px;
        cursor: pointer;
        transition: all .5s ease;
        &:hover{
            @include hov;
        }
    }



    &__info {
        padding: 68px 470px 116px;
        &_title1 {
            font-weight: 900;
            font-size: 60px;
            padding-bottom: 10px;
        }

        &_title2 {
            font-weight: 700;
            font-size: 36px;
            text-transform:uppercase;
            padding-bottom: 20px;

        }

        &_par1 {
            font-weight: 400;
            font-size: 18px;
            padding-bottom: 20px;
            line-height: 24px;
        }

        &_par2 {
            font-weight: 400;
            font-size: 18px;
            line-height: 24px;
        }
    }

    &__button {
        width: 259px;
        height: 63px;
        background: linear-gradient(0deg, #1EACC7 0%, #4CE2FF 100%);
        box-shadow: inset 0px -4px 0px rgba(0, 0, 0, 0.12);
        border-radius: 4px;
        text-transform: uppercase;
        font-weight:400;
        color:#fff;
        font-size:18px;
        cursor: pointer;
        transition: all .5s ease;
        &:hover{
                @include hov;
            }
        
    }




}

