.reason {
  padding: 27px 359px 64px 380px;
    text-align: center;

  &__title {
    margin: 32px auto 16px;
    text-transform: uppercase;
    color: #222222;
    font-weight: 700;
    font-size: 38px;
  }

  &__card {
    display: flex;
    flex-flow: wrap;

    &_num {
      display: flex;
      justify-content:center;
      margin-bottom: 25px;
      &:nth-child(2n){
        margin-left: 71px;
      }
    }

    &_ico {
      width: 116px;
      height: 116px;
      background: #1EACC7;
      border-radius: 50%;
      position: relative;
      margin-right: 25px;
    }

    &_img {
      position: absolute;
      top: 25px;
      left: 20px;
    }

    &_descr {
      text-align: left;
      width: 371px;
      height: 150px;
      margin-left: 12px;
    }

    &_title {
      color: #1EACC7;
      font-size: 17px;
      font-weight: 400;
      line-height: 21px;
    }

    &_par {
      color:#202020;
      font-size: 15px;
      line-height: 21px;
      font-weight: 300;
    }

  }
}

